@charset "UTF-8";

html {
  background-color: #f8fcfa;
}

body {
  background-image: url("dangerousWarehouse.jpg");
  background-repeat: no-repeat;
  background-size: 1000px 580px;
}

.container {
  display: grid;
  height: 580px;
  width: 800px;
  grid-template-rows: 64px 76.8px 30px 68px 71px 97px 128px 38.4px 64px;
  grid-template-columns: 95px 135px 96px 140.8px 96px 140.8px 96px 115.2px;
  gap: 10px;
  margin-left: 15px;
}

.highVarnish {
  font-size: 14px;
  margin-top: 5px;
  margin-left: 10px;
}

.varnish {
  font-size: 14px;
  margin-top: 15px;
  margin-left: 10px;
}

.highVarnishCan {
  margin-top: -6px;
  margin-left: 40px;
  height: 40px;
  width: 25px;
}

.varnishCan {
  margin-top: -3px;
  margin-left: 38px;
  height: 50px;
  width: 30px;
}

.inputDate {
  margin-top: 17px;
  height: 36px;
  width: 130px;
  border-radius: 5px 5px 5px 5px;
  font-size: 16px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.daviceinputform {
  margin-top: 15px;
  height: 30px;
  width: 110px;
}

.inputDueDate {
  margin-top: 5px;
  margin-left: 30px;
  height: 20px;
  width: 150px;
}

.title {
  margin-top: 35px;
  margin-left: 0px;
  font-size: 11px;
}

.display {
  margin-top: 18px;
  margin-left: 3px;
  font-size: 30px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.catainventory {
  margin-top: 50px;
  margin-left: 25px;
  font-size: 35px;
}

.varnishOutP8,
.highVarnishOutP8 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 80px;
  margin-top: 15px;
  padding: 1em 2em;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  box-shadow: 6px 6px 12px #ebbb62, -6px -6px 12px #fff;
  background-color: rgb(230, 155, 112);
  color: rgb(252, 249, 249);
  font-size: 8.5px;
}

.varnishOutP8:hover,
.highVarnishOutP8:hover {
  box-shadow: inset 4px 4px 12px #e76531, inset -4px -4px 12px #d65d0d;
}

.varnishOutP8:active,
.highVarnishOutP8:active {
  -webkit-transform: translate(0, 2px);
  -moz-transform: translate(0, 2px);
  transform: translate(0, 2px);
  border-bottom: none;
}

.outCataP8 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  margin-top: 80px;
  margin-left: 5px;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  box-shadow: 6px 6px 12px #ebbb62, -6px -6px 12px #fff;
  background-color: rgb(230, 155, 112);
  color: rgb(252, 249, 249);
  padding: 0.5em 1em; /* paddingを調整 */
  height: auto; /* 高さを自動調整 */
  font-size: 18px;
  white-space: nowrap; /* テキストを折り返さないようにする */
}

.outCataP8:hover {
  box-shadow: inset 4px 4px 12px #d4498f, inset -4px -4px 12px #b30d28;
}

.outCataP8:active {
  -webkit-transform: translate(0, 2px);
  -moz-transform: translate(0, 2px);
  transform: translate(0, 2px);
  border-bottom: none;
}

.varnishOutP7,
.highVarnishOutP7 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 80px;
  margin-top: 15px;
  padding: 1em 2em;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  box-shadow: 6px 6px 12px #eea3db, -6px -6px 12px #fff;
  background-color: rgb(236, 139, 204);
  color: rgb(19, 17, 17);
  font-size: 8.5px;
}

.varnishOutP7:hover,
.highVarnishOutP7:hover {
  box-shadow: inset 4px 4px 12px #d4498f, inset -4px -4px 12px #b30d28;
}

.varnishOutP7:active,
.highVarnishOutP7:active {
  -webkit-transform: translate(0, 2px);
  -moz-transform: translate(0, 2px);
  transform: translate(0, 2px);
  border-bottom: none;
}

.outCataP7 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  margin-top: 45px;
  margin-left: 5px;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  box-shadow: 6px 6px 12px #eea3db, -6px -6px 12px #fff;
  background-color: rgb(236, 139, 204);
  color: rgb(19, 17, 17);
  padding: 0.5em 1em; /* paddingを調整 */
  height: auto; /* 高さを自動調整 */
  font-size: 18px;
  white-space: nowrap; /* テキストを折り返さないようにする */
}

.outCataP7:hover {
  box-shadow: inset 4px 4px 12px #d4498f, inset -4px -4px 12px #b30d28;
}

.outCataP7:active {
  -webkit-transform: translate(0, 2px);
  -moz-transform: translate(0, 2px);
  transform: translate(0, 2px);
  border-bottom: none;
}

.varnishInP7,
.highVarnishInP7 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 80px;
  margin-top: 15px;
  padding: 1em 2em;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  box-shadow: 6px 6px 12px #6cb37b, -6px -6px 12px #fff;
  background-color: rgb(138, 224, 121);
  color: rgb(19, 17, 17);
  font-size: 8.5px;
}

.varnishInP7:hover,
.highVarnishInP7:hover {
  box-shadow: inset 4px 4px 12px #068831, inset -4px -4px 12px #05a396;
}

.varnishInP7:active,
.highVarnishInP7:active {
  -webkit-transform: translate(0, 2px);
  -moz-transform: translate(0, 2px);
  transform: translate(0, 2px);
  border-bottom: none;
}

.inCataP7 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  margin-top: 45px;
  margin-left: 10px;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  box-shadow: 6px 6px 12px #6cb37b, -6px -6px 12px #fff;
  background-color: rgb(138, 224, 121);
  color: rgb(19, 17, 17);
  padding: 0.5em 1em; /* paddingを調整 */
  height: auto; /* 高さを自動調整 */
  font-size: 18px;
  white-space: nowrap; /* テキストを折り返さないようにする */
}

.inCataP7:hover {
  box-shadow: inset 4px 4px 12px #068831, inset -4px -4px 12px #05a396;
}

.inCataP7:active {
  -webkit-transform: translate(0, 2px);
  -moz-transform: translate(0, 2px);
  transform: translate(0, 2px);
  border-bottom: none;
}

.varnishInP8,
.highVarnishInP8 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 80px;
  margin-top: 15px;
  padding: 1em 2em;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  box-shadow: 6px 6px 12px #a49de7, -6px -6px 12px #fff;
  background-color: rgb(131, 123, 238);
  color: rgb(252, 249, 249);
  font-size: 8.5px;
}

.varnishInP8:hover,
.highVarnishInP8:hover {
  box-shadow: inset 4px 4px 12px #1523a7, inset -4px -4px 12px #2d1a99;
}

.varnishInP8:active,
.highVarnishInP8:active {
  -webkit-transform: translate(0, 2px);
  -moz-transform: translate(0, 2px);
  transform: translate(0, 2px);
  border-bottom: none;
}

.inCataP8 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  margin-top: 80px;
  margin-left: 10px;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  box-shadow: 6px 6px 12px #a49de7, -6px -6px 12px #fff;
  background-color: rgb(131, 123, 238);
  color: rgb(252, 249, 249);
  padding: 0.5em 1em; /* paddingを調整 */
  height: auto; /* 高さを自動調整 */
  font-size: 18px;
  white-space: nowrap; /* テキストを折り返さないようにする */
}

.inCataP8:hover {
  box-shadow: inset 4px 4px 12px #1523a7, inset -4px -4px 12px #2d1a99;
}

.inCataP8:active {
  -webkit-transform: translate(0, 2px);
  -moz-transform: translate(0, 2px);
  transform: translate(0, 2px);
  border-bottom: none;
}

#button4 {
  margin-left: 10px;
}

#connectionConfirmation {
  font-size: 14px;
  margin-top: 28px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.clear {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 80px;
  margin-top: 70px;
  padding: 1em 2em;
  border: 1px solid rgb(7, 6, 6);
  border-radius: 8px;
  box-shadow: 6px 6px 12px #f04d4d, -6px -6px 12px #fff;
  background-color: rgb(228, 11, 40);
  color: rgb(252, 249, 249);
  font-size: 8.5px;
}

.clear:hover {
  box-shadow: inset 4px 4px 12px #a12118, inset -4px -4px 12px #58082e;
}

.clear:active {
  -webkit-transform: translate(0, 2px);
  -moz-transform: translate(0, 2px);
  transform: translate(0, 2px);
  border-bottom: none;
}

.inputDueDate {
  margin-top: 30px;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  margin-top: 70px;
  margin-left: 50px;
  width: 50px;
  height: 20px;
  background-color: #ccc;
  border-radius: 15px;
  cursor: pointer;
}

.toggle-switch .slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b1adad;
  border-radius: 15px;
  transition: 0.4s;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* 切り替え時のスタイル */
.toggle-switch input:checked+.slider {
  background-color: #4CAF50;
}

.toggle-switch input:focus+.slider {
  box-shadow: 0 0 1px #4CAF50;
}

.toggle-switch input:checked+.slider:before {
  transform: translateX(30px);
}

/* スライダーのノブのスタイル */
.toggle-switch .slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 1px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  transition: 0.4s;
}

/* スライダータイトルのスタイル */
.toggle-switch .title {
  position: absolute;
  top: -35%;
  left: 5%;
  transform: translate(0%, 0%);
  color: #333;
  font-size: 9px;
}

.selecteditem {
  display: none;
  /* 初期状態で非表示 */
  margin-bottom: 10px;
}

.load {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 80px;
  margin-top: 70px;
  margin-left: -50px;
  padding: 1em 2em;
  border: 1px solid rgb(7, 6, 6);
  border-radius: 8px;
  box-shadow: 6px 6px 12px #17116b, -6px -6px 12px #ffffff;
  background-color: rgb(25, 11, 228);
  color: rgb(252, 249, 249);
  font-size: 8.5px;
}

.load:hover {
  box-shadow: inset 4px 4px 12px #2565db, inset -4px -4px 12px #120679;
}

.load:active {
  -webkit-transform: translate(0, 2px);
  -moz-transform: translate(0, 2px);
  transform: translate(0, 2px);
  border-bottom: none;
}

#fileInput{
  height: 35px;
  width: 180px;
  margin-top: 120px;
  margin-left: 62px; 
  font-size: 10px;
}

.back{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 80px;
  margin-top: 70px;
  margin-left: -10px;
  padding: 1em 2em;
  border: 1px solid rgb(7, 6, 6);
  border-radius: 8px;
  box-shadow: 6px 6px 12px #116b46, -6px -6px 12px #ffffff;
  background-color: rgb(22, 158, 79);
  color: rgb(252, 249, 249);
  font-size: 8.5px;
}

.back:hover {
  box-shadow: inset 4px 4px 12px #7eee68, inset -4px -4px 12px #1d7906;
}

.back:active {
  -webkit-transform: translate(0, 2px);
  -moz-transform: translate(0, 2px);
  transform: translate(0, 2px);
  border-bottom: none;
}

.date-difference-alert {
  background-color: red;
  width: 85px;
}
